# Environment variables
.env

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/
